*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
}

.btn{
    padding:5px 10px;
    border-radius: 30px;
    border:2px solid transparent;
    box-shadow: 0 2px 5px transparent;
    cursor: pointer;
}

.btn:hover{
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

h2{
    color:white;
    font-size:1.5em;
}

span{
    color:rgb(161, 161, 161);
    font-size:.8em
}

.hidden{
    opacity:0
}
/*----------------------------
COMMONS 
-----------------------------*/


/* .over-element-container:hover .sidebar{
    opacity: .5;
   }

.over-element-container:hover .sidebar:hover{
    opacity: 1;
} */

.app-container{
    width:100vw;
    height:100vh;
    position: relative;
    top:0; left:0;
    background-color: black;
}

/*----------------------------
Over Element
-----------------------------*/

.over-element-container{
    width: 0; height:0
}

/* Sidebar
-------------------------------- */
.over-element-container .sidebar{
    position:absolute;
    top:0; left:0;

    width:230px;
    height: calc(100vh - 90px);
    background-color: black;

    display: flex;
    flex-direction: column;

    overflow: hidden;
    z-index:2;
}

.sidebar .logo{
    height: 80px;
    padding: 20px;

    background-color: black;
}

#small-logo{
    display: none;
}

.sidebar .logo img{
    height: 100%;
}

/* sidebar - bottom
----------------------------------------*/
.bottom-sidebar{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom-sidebar .sidebar-topcontainer .icon-menu-top .icon-wrapper{
    padding-bottom:10px;
}

.bottom-sidebar .sidebar-topcontainer .icon-menu-top .icon-wrapper ul{
    list-style-type: none;
}

.bottom-sidebar .sidebar-topcontainer .icon-menu-top .icon-wrapper ul li{
    padding: 6px 20px;
    border-left:2px solid transparent;
    border-right:2px solid transparent;
}

.bottom-sidebar .sidebar-topcontainer .icon-menu-top .icon-wrapper ul li a{
    text-decoration: none;
    color: rgb(210, 210, 210);

    display: flex;
    align-items: flex-end;
}

.bottom-sidebar .sidebar-topcontainer .icon-menu-top .icon-wrapper ul li a svg{
    fill:#c7c7c7;
}

.bottom-sidebar .sidebar-topcontainer .icon-menu-top .icon-wrapper ul li span{
    font-size: .8em;
    font-weight: 600;
    margin-left:4px;
}

/* hover */
.bottom-sidebar .sidebar-topcontainer .icon-menu-top .icon-wrapper ul li:hover span{
    color:white
}

.bottom-sidebar .sidebar-topcontainer .icon-menu-top .icon-wrapper ul li:hover{
    border-left:2px solid green;
}

.bottom-sidebar .sidebar-topcontainer .icon-menu-top .icon-wrapper ul li:hover a{
    color:white;
}

.bottom-sidebar .sidebar-topcontainer .icon-menu-top .icon-wrapper ul li:hover a svg{
    fill:white;
}

/* playlist
----------------------------------------*/
.playlist{
    padding:0 20px;
    color: rgb(220, 220, 220);
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 0.8em;
}

.playlist h2{
    font-size: 1.1em;
    margin: .5em 0;
}

.playlist .crea-playlist{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.playlist .crea-playlist .add-playlist{
    padding: 2px 10px;
    background-color: gray;
    color: black;
    font-size: 2em;
    margin-right:5px;
    border-radius: 0;
}

.playlist .playlists{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.playlist .crea-playlist:hover .add-playlist{
    background-color: rgb(173, 173, 173);
}

.playlist span{
    font-size:1em;
    cursor: pointer;
}

.playlist span:hover,
.playlist .crea-playlist:hover span{
    color:white
}

/* bottomcontainer of sidebar
----------------------------------------*/
.sidebar-bottomcontainer{
    padding:10px 20px;
}

.sidebar-bottomcontainer .install{
    display: flex;
    align-items: center;
    padding-bottom: 2px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;

    cursor: pointer;
}

.sidebar-bottomcontainer .install svg{
    fill:rgb(220, 220, 220)
}

.sidebar-bottomcontainer .install span{
    font-size: .7em;
    font-weight: 800;
    margin-left:5px;
    color: rgb(191, 191, 191);
}

.sidebar-bottomcontainer .account{
    color:white;
    display: flex;
    align-items: center;
}

.sidebar-bottomcontainer .account span{
    font-size: .7em;
    margin-left:5px;
    font-weight: 800;
}

.sidebar-bottomcontainer .account .svg-wrapper{
    background-color: gray;
    width: 40px; height:40px;

    border-radius: 50%;
    overflow: hide;
}

.sidebar-bottomcontainer .account .svg-wrapper svg{
    fill:white;
    transform: translateX(6px) translateY(2px);
}

/* HOVER  */
.sidebar-bottomcontainer .install:hover span{
    color: white;
}

.sidebar-bottomcontainer .install:hover svg{
    fill:rgb(255, 255, 255)
}
/* -------------------------------- 
fine Sidebar*/


/* Bottom-bar - left-side
----------------------------------------*/
.bottom-bar{
    position: absolute;
    bottom:0; left:0;

    height:90px;
    width: 100vw;
    background-color: rgb(40, 40, 40);

    display: flex;
    align-items: center;
    justify-content: space-between;

    overflow-x: hidden;

    z-index:2;
}

.bottom-bar .left-side-container{
    display: flex;
    height: 100%;
    max-width: 230px;
    justify-content: space-between;

    gap: 20px;
}

.bottom-bar .left-side-container .current-song-wrapper{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 5px;
}

.bottom-bar .left-side-container .current-song-wrapper img{
    height: 60%;
}

.bottom-bar .left-side-container .current-song-wrapper .title-song{
    display: flex;
    flex-direction: column;
    gap: 3px;

    font-size: .7em;
    color: white;
    margin-left:5px;
}

.bottom-bar .left-side-container .left-icon-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}

.bottom-bar .left-side-container .left-icon-wrapper i{
    color: rgb(215, 215, 215);
    font-weight: 100;
}

.bottom-bar .left-side-container .left-icon-wrapper i:hover{
    color:white
}

/* Bottom-bar - central
----------------------------------------*/
.bottom-bar .central-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.bottom-bar .central-container .top-console{
    display: flex;
    gap: 30px;
    align-items: center;
}

/* Buttons play stop */
.bottom-bar .central-container #play-btn{
    position: absolute;
    width: 40px;
    height: 30px;
    opacity: 0;
    cursor:pointer;
    z-index: 2;
}

#btn-play-icon{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(212, 212, 212);
    font-size: 2em;
    transition:all .4s;

    animation:start-info-btn 3s 4s 2;
}

#btn-stop-icon{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(208, 208, 208);
    font-size: 2em;
    display: none;
    transition:all .4s;
}

.bottom-bar .central-container #play-btn:hover + .bottom-console .btn-play-stop #btn-play-icon{
    color:white;
}

.bottom-bar .central-container #play-btn:hover + .bottom-console .btn-play-stop #btn-stop-icon{
    color:white;
}

.bottom-bar .central-container #play-btn:checked + .bottom-console .btn-play-stop #btn-play-icon{
    display:none;
}

.bottom-bar .central-container #play-btn:checked + .bottom-console .btn-play-stop #btn-stop-icon{
    display:block;
}

/* playanimation */
.bottom-bar .central-container #play-btn:checked + .bottom-console .song-slider .slider{
    animation: play-animation 285s ease;
}

.bottom-bar .central-container #play-btn:checked + .bottom-console  .current-time:after{
    
        animation: play-animation-time 285s ease;
    
}

.bottom-bar .central-container .top-console i{
    color:rgb(202, 202, 202);
    font-weight: 600;
    font-size:1em;
    cursor: pointer;
}

.bottom-bar .central-container .top-console i:hover{
    color: white;
}

.bottom-bar .central-container .top-console .fa-circle-play{
    font-size:1.8em;
}

.bottom-bar .central-container .bottom-console{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px 0;
}

.bottom-bar .central-container .bottom-console span{
    font-size: .7em;
    color: white;
}

.current-time{
    position:relative;
    left:30px
}

.total-time:after{
    content: "4:35";
}

.current-time:after{
    content: "0:25";
}

/* SLIDER */
.bottom-bar .central-container .bottom-console .song-slider{
    width: 30vw;
    height: 4px;

    position: relative;
    left:0;top:0;
    background-color: rgb(90, 90, 90);
    border-radius: 4px;
}

.bottom-bar .central-container .bottom-console .song-slider .slider{
    height: 100%;
    width: 20%;
    position: absolute;
    left:0;top:0;
    background-color:rgb(193, 193, 193);
    border-radius: 4px;
    transition: all .4s;
    cursor: grab;
}

.bottom-bar .central-container .bottom-console .song-slider .track{
    position:absolute;
    right:0;top:-3px;

    height: 10px; width:10px;
    border-radius: 5px;
    background-color: green;
    z-index: 1;
    opacity: 0;
    transition:all .4s;
    cursor: grab;
}

.bottom-bar .central-container .bottom-console:hover .song-slider .slider{
    background-color: green;
}

.bottom-bar .central-container .bottom-console:hover .song-slider .track{
    opacity:1
}


/* Bottom-bar - right-side
----------------------------------------*/
.right-side-container{
    display: flex;
    align-items: center;
    gap:50px
}

.right-side-container .icon-wrapper i{
    color: rgb(190, 190, 190);
}

.right-side-container .icon-wrapper i:hover{
    color: #ffffff;
}


.right-side-container .volume-wrapper .radio-volume-wrapper{
    position:relative;
    top:0; right:0;
}

.right-side-container .volume-wrapper .radio-volume-wrapper .radio-volume{
    display: block;
    position: absolute;
    top:0px; right:0px;

    height: 50px;
    width: 30px;
    transform: translateY(-50%);
    z-index: 3;
    opacity: 0;
    cursor: pointer;
}

/* CHECKVOLUMI */
.right-side-container .volume-wrapper .radio-volume-wrapper .radio-volume.vol-three{
    right: 10px;
}

.right-side-container .volume-wrapper .radio-volume-wrapper .radio-volume.vol-two{
    right: 37px;
}

.right-side-container .volume-wrapper .radio-volume-wrapper .radio-volume.vol-one{
    right:64px;
}

.right-side-container .volume-wrapper .radio-volume-wrapper .radio-volume.mute{
    right:90px;
}

.right-side-container .volume-wrapper .radio-volume-wrapper .volume-bar{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
}

.background-volume-bar{
    position: relative;
    top:0;right:20px;
    background-color: rgb(90, 90, 90);
    width: 100px;
    height: 4px;
}

.right-side-container .volume{
    position: absolute;
    top: 0; left:-120px;
    background-color:rgb(193, 193, 193);
    width: 30px;
    height: 4px;
    color: rgb(200, 200, 200);
    transition: all .4s;

    display: none;
}

.right-side-container .volume-bar .track{
    width:10px; height:10px;
    position: absolute;
    right:-2px;top:-3px;
    background-color: green;
    border-radius: 50%;
    opacity:0;
    transition: all .4s;
}


.right-side-container .volume-wrapper .radio-volume-wrapper .volume-bar .volume.bar-mute{
    width: 0px;
}

.right-side-container .volume-wrapper .radio-volume-wrapper .volume-bar .volume.bar-2{
    width: 60px;
}

.right-side-container .volume-wrapper .radio-volume-wrapper .volume-bar .volume.bar-3{
    width: 100px;
}

.right-side-container .volume-wrapper .radio-volume-wrapper .volume-bar .volume i{
    position: absolute;
    top:0; left:-25px;
    transform: translateY(-50%);
}

/* HOVER */
.right-side-container .volume-wrapper:hover .volume-bar .track{
    opacity: 1;
}

.right-side-container .volume-wrapper:hover .volume-bar .volume{
    color:white;
    background-color: green;
}


/* ACTIVE RADIO */
.right-side-container .volume-wrapper .radio-volume-wrapper .radio-volume.mute:checked + .volume-bar .volume.bar-mute{
    display:block;
}

.right-side-container .volume-wrapper .radio-volume-wrapper .radio-volume.vol-one:checked + .volume-bar .volume.bar-1{
    display: block;
}

.right-side-container .volume-wrapper .radio-volume-wrapper .radio-volume.vol-two:checked + .volume-bar .volume.bar-2{
    display: block;
}

.right-side-container .volume-wrapper .radio-volume-wrapper .radio-volume.vol-three:checked + .volume-bar .volume.bar-3{
    display: block;
}



/* -------------------------------- 
fine Bottom-bar*/

/*----------------------------
fine Over Element
-----------------------------*/



/*----------------------------
MAIN
-----------------------------*/
.main-container{
    width: calc(100vw - 230px);
    height: calc(100vh - 90px);
    background-color: rgb(20, 25, 34);
    margin-left:230px;
    overflow: auto;
    position: relative;
    top:0; left:0;
}

.main-container .upgrade-bar{
    height: 60px;
    position: fixed;
    top:0; right:0px;

    background-color:rgba(0, 0, 0, 0.479);
    width: calc(100% - 230px);

    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
}

.main-container .upgrade-bar .btn-upgrade{
    font-size: .7em;
    border: 1px solid rgb(255, 255, 255);
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    color: white;
    margin-right: 25px;
    transition: all.4s;
}

.main-container .upgrade-bar .btn-upgrade:hover{
    transform: scale(1.05);
}

.main-container .top-menu-wrapper{
    position: fixed;
    top:60px; right: 0;
    width:calc(100% - 230px);
    height: 30px;
    z-index: 1;
}

.main-container .top-menu-wrapper .top-menu{
    list-style-type: none;

    height:100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap:10px
}

.main-container .top-menu-wrapper .top-menu li{
    height: 100%;
    position: relative;
    top:0; left:0;
}

.main-container .top-menu-wrapper .top-menu li a{
    text-decoration: none;
    color: rgb(201, 201, 201);
    font-size: .6em;
    font-weight: 500;
    display: flex;
    align-items: center;

    height: 100%;
}

.main-container .top-menu-wrapper .top-menu .urderline-menu{
    position: absolute;
    bottom: 0; right:50%;
    width:30px;
    height: 2px;
    background-color: green;
    border-radius: 2px;
    transform: translateX(50%);
    display: none;
}

.main-container .top-menu-wrapper .top-menu .urderline-menu.active{
    display:block;
}

.main-container .top-menu-wrapper .top-menu li:hover .urderline-menu{
    display: inline-block;
}

.main-container .top-menu-wrapper .top-menu li:hover a{
    color: white;
}


/* Main - maincontainer - recent playlist
----------------------------------------*/
.main-container .content-main-container{
    position: relative;
    top:100px;left: 0;
    width: 100%;
    padding:15px;
}

.cads-container{
    display: flex;
    flex-flow:row wrap ;
    gap:10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cads-container .card{
    width: 100%;
    transition: all .4s;
}

.cads-container .card-wrapper {
    width: calc((100% / 6) - (10px / 6 * 5));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cads-container .card .img-wrapper{
    position: relative;
    left:0; top:0;
    background-color: black;

}

.cads-container .card .img-wrapper img{
    width: 100%;
    transition: all .4s;
    display: block;
}

 .cads-container .card .text-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cads-container .card .text-wrapper .title{
    font-size:.8em;
    color:white;
    text-align: center;
    margin:0.8em 0;
}

.cads-container .card .text-wrapper .author{
    font-size:.7em;
    color:rgb(185, 185, 185);
    text-align: center;
}

.cads-container .card i{
    font-size:3em;
    color: white;
    position:absolute;
    top:50%; left:50%;
    transform: translateX(-50%) translateY(-50%);

    opacity: 0;
    transition: all .4s;
}

.cads-container .card-wrapper .card:hover i{
    opacity: 1;
}
.cads-container .card-wrapper .card:hover .img-wrapper img {
    opacity: .3;
}

.popular .cads-container .card-wrapper .card .img-wrapper,
.popular .cads-container .card-wrapper .card .img-wrapper img{
    border-radius: 50%;
}
/*----------------------------
fineMAIN
-----------------------------*/


/*----------------------------
MEDIA
-----------------------------*/
@media screen and (max-width:768px){

    h2{
        font-size:1.2em;
    }

    span{
        font-size:.7em
    }
    /* bottom Bar -left-side
    -------------------------------------------*/
    .bottom-bar .left-side-container {
       gap:0;
    }
    
    .bottom-bar .left-side-container .left-icon-wrapper{
       flex-direction: column;
       justify-content: center;
    }

    .bottom-bar .left-side-container .left-icon-wrapper i{
        font-size: .8em;
    }

    .bottom-bar .left-side-container .current-song-wrapper img{
        height: 55%;
    }

    .bottom-bar .left-side-container .current-song-wrapper .title-song {
        font-size: .6em;
    }

    
    /* bottom Bar -center
    -------------------------------------------*/

    .bottom-bar .central-container .top-console{
        gap:25px;
    }

    /* bottom Bar -right
    -------------------------------------------*/
    .bottom-bar .central-container .bottom-console {
        gap:10px;
    }

    .current-time{
        left:10px
    }

      /* bottom Bar -right-side
    -------------------------------------------*/

    .right-side-container .volume-wrapper .radio-volume-wrapper .radio-volume.vol-three{
        right: 10px;
        top:2px;
        height:25px;
    }
    
    .right-side-container .volume-wrapper .radio-volume-wrapper .radio-volume.vol-two{
        right: 30px;
        top:2px;
        height:25px;
    }
    
    .right-side-container .volume-wrapper .radio-volume-wrapper .radio-volume.vol-one{
        right:50px;
        top:2px;
        height:25px;
    }
    
    .right-side-container .volume-wrapper .radio-volume-wrapper .radio-volume.mute{
        right:70px;
        top:2px;
        height:25px;
    }

    .right-side-container .volume-wrapper .radio-volume-wrapper .volume-bar .volume i{
        font-size: .8em;
        top:2px;
        left:-23px
    }

    .right-side-container .icon-wrapper i{
        font-size: .8em;
    }

    .background-volume-bar{
        position: relative;
        top:0;right:20px;
        background-color: rgb(90, 90, 90);
        width: 70px;
        height: 4px;
    }

    .right-side-container .volume{
        width: 25px;
    }
    
    .right-side-container .volume-wrapper .radio-volume-wrapper .volume-bar .volume.bar-mute{
        width: 0px;
    }
    
    .right-side-container .volume-wrapper .radio-volume-wrapper .volume-bar .volume.bar-2{
        width: 50px;
    }
    
    .right-side-container .volume-wrapper .radio-volume-wrapper .volume-bar .volume.bar-3{
        width: 70px;
    }

    .right-side-container .volume{
        left:-90px;
    }

    /* MAIN 
    ----------------------------------------*/
    .cads-container .card-wrapper{
        width: calc((100% / 4) - (10px / 4 * 3));
    }

    .cads-container .card .text-wrapper .title{
        font-size: .6em;
    }

    .cads-container .card .text-wrapper .author{
        font-size: .55em;
    }

    .main-container .content-main-container{
        top:130px
    }
}

@media screen and (max-width:575px){
    h2{
        font-size:1em;
    }

    span{
        font-size:.65em
    }

    /* SIDEBAR 
    -------------------------------------------*/
    .playlist,
    .sidebar-bottomcontainer .install:hover span,
    .sidebar-bottomcontainer .account span,
    .sidebar-bottomcontainer .install span,
    .playlist .crea-playlist:hover span,
    .bottom-sidebar .sidebar-topcontainer .icon-menu-top .icon-wrapper ul li span,
    #big-logo{
        display: none;
    }

    #small-logo{
        display: inline-block;
        width: 100%;
    }
    
    .sidebar .logo{
        display: flex;
        justify-content: center;
        padding: 10px;
        height: auto;
    }

    .sidebar .logo a{
        width: 50%;
        height:50%;
    }

    .over-element-container .sidebar{
        width: 60px;
    }

    .bottom-sidebar .sidebar-topcontainer .icon-menu-top .icon-wrapper ul li,
    .sidebar-bottomcontainer{
        padding-left:5px;
        padding-right:5px;
    }


    .sidebar-bottomcontainer .account,
    .sidebar-bottomcontainer .install,
    .bottom-sidebar .sidebar-topcontainer .icon-menu-top .icon-wrapper ul li a{
        display:flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    
    /* -------------------------------------------
    SIDEBAR */

     /* bottom Bar -left-side
    -------------------------------------------*/
     .bottom-bar .left-side-container .left-icon-wrapper i{
         font-size: .5em;
     }
 
     .bottom-bar .left-side-container .current-song-wrapper img{
         height: 50%;
     }
 
     .bottom-bar .left-side-container .current-song-wrapper .title-song {
         font-size: .55em;
     }
 
     .bottom-bar .central-container .bottom-console .song-slider{
        width:25vw;
     }

     .bottom-bar .central-container .top-console{
        gap:20px;
    }

    
     /* MAIN 
----------------------------------------*/

    .main-container{
        width:calc(100vw - 60px);
        margin-left:60px;
    }

    .main-container .top-menu-wrapper,
    .main-container .upgrade-bar{
        width:calc(100% - 60px);
    }

    .cads-container .card-wrapper{
        width: calc((100% / 2) - (10px / 2));
    }
     
    .cads-container .card .text-wrapper .title{
        font-size: .8em;
    }

    .cads-container .card .text-wrapper .author{
        font-size: .7em;
    }
}
    
@media screen and (max-width:446px){
/* bottom Bar -center
-------------------------------------------*/

.bottom-bar .central-container .top-console{
    gap:15px;
}

.bottom-bar .central-container .top-console i{
    font-size: 1em;
}

.bottom-bar .left-side-container .current-song-wrapper img{
    height: 45%;
}

.bottom-bar .central-container .top-console .fa-circle-play{
    font-size: 1.2em;
}

.bottom-bar .central-container .bottom-console span{
    font-size:.5em
}

.bottom-bar .central-container #btn-play-icon,
.bottom-bar .central-container #btn-stop-icon{
    font-size:1.5em;
    top:-2px;
}

.current-time{
    left:0;
}

/* bottom Bar -right
-------------------------------------------*/
.bottom-bar .central-container .bottom-console {
    gap:0px;
}

.right-side-container{
    gap:35px
}

.right-side-container .volume-wrapper .radio-volume-wrapper .volume-bar .volume i{
    font-size: .6em;
    top:4px;
}

.right-side-container .icon-wrapper i{
    font-size: .6em;
}

.background-volume-bar{
    width: 40px;

}

.right-side-container .volume{
    width: 15px;
}

.right-side-container .volume-wrapper .radio-volume-wrapper .volume-bar{
    right:0px
}

.right-side-container .volume-wrapper .radio-volume-wrapper .volume-bar .volume i{
    left:-13px
}

.right-side-container .volume-wrapper .radio-volume-wrapper .volume-bar .volume.bar-mute{
    width: 0px;
}

.right-side-container .volume-wrapper .radio-volume-wrapper .volume-bar .volume.bar-2{
    width: 25px;
}

.right-side-container .volume-wrapper .radio-volume-wrapper .volume-bar .volume.bar-3{
    width: 40px;
}

.right-side-container .volume{
    left:-60px;
}

.right-side-container .volume-wrapper .radio-volume-wrapper .radio-volume{
    height: 15px;
    width: 15px;
    top:2px;
}

.right-side-container .volume-wrapper .radio-volume-wrapper .radio-volume.vol-three{
    right: 15px;
}

.right-side-container .volume-wrapper .radio-volume-wrapper .radio-volume.vol-two{
    right: 25px;
}

.right-side-container .volume-wrapper .radio-volume-wrapper .radio-volume.vol-one{
    right:35px;
}

.right-side-container .volume-wrapper .radio-volume-wrapper .radio-volume.mute{
    right:45px;
}


/* MAIN */

.cads-container .card .text-wrapper .title{
    font-size: .6em;
}

.cads-container .card .text-wrapper .author{
    font-size: .55em;
}
}


/*----------------------------
Presentation
-----------------------------*/

/* INFO 
----------------------------- */
.info{
    position: absolute;
    top: -75%;
    
    background-color: rgb(210, 204, 103);
    color: rgb(23, 19, 19);
    padding: 20px;
   
    opacity:0;
}

.info-play{
    right: 47.7%;
    width: 300px;
    height: 0px;
    z-index: 0;
    transform: translateX(50%);
    animation: start-info-animation 6s 5s;
}


.info-volume{
    right: 150px;
    width: 250px;
    height: 0px;
    z-index: 3;
    transform: translateX(50%);
    animation: start-info-animation 6s 9s;
}

.info span{
    color:black;
}

@keyframes start-info-animation {
    0%{
        height: 117px;
        opacity:0;
        top:65%;
        z-index: 3;
    }  

    25%{
        opacity:1;
        top:75%
    }

    35%{
        top:74%
    } 

    45%{
        top:75%
    }

    60%{
        top:74%
    }

    75%{
        opacity:1;
        top:75%
    }

    100%{
        opacity:0;
        top:65%;
        height: 117px;
        z-index: 3;
    }
}

.vignetta{
    position: absolute;
    background-color: rgb(210, 204, 103);
    width: 23px;
    height: 56px;
    transform: rotate(45deg);
    right: 50%;
}
/*----------------------------- 
fine Info */
.bottom-sidebar,
main{
    animation: start-opacity 15s;
}

.app-container{
    opacity: 1;
}

.start-presentation{
    position: absolute;
    top:-100vh;left:0;
    background-color: rgb(0, 0, 0);
    width: 0vw;
    height: 0vh;
    opacity: 0;

    animation: start-presentation 6s;
    z-index:3;
}

.back-logo{
    width:100%;
    height:100%;
    position: absolute;
}


.logo-container{
    width: 100%;
    height: 100%;
}

.logo-container #normal-logo{
    position: relative;
    top:50%;
    left:50%;
    width:400px;
    transform: translateX(-50%) translateY(-50%);

    opacity: 0;


    animation:start-logo 6s
}

#big-logo-start{
    position: absolute;
    top:50%;
    left:50%;
    width:400px;
    transform: translateX(-50%) translateY(-50%);
    opacity:0;

    animation:start-logo-text 3.8s
}

#small-logo-start{
    position: absolute;
    top:50%;
    left:50%;
    width:120px;
    transform: translateX(-165%) translateY(-50%);
    opacity:0;

    animation: start-logo-icon 3.8s;
}

.background-black{
    position:absolute;
    top:25%;
    left:0%;
    width:calc(60% - 90px);
    height:400px;
    background:linear-gradient(to right, black 80%, rgba(0, 0, 0, 0) 90%);
    opacity:0;

    animation: start-BG-black 6s;
}


/* Animation
------------------------------------------- */

@keyframes start-logo{
    0%{
        top:50%;
        left:50%;
        width:400px;
        transform: translateX(-50%) translateY(-50%);
        opacity: 0;
    }

    58%{
        opacity: 0;
    }

    65%{
        top:50%;
        left:50%;
        width:400px;
        transform: translateX(-50%) translateY(-50%);
        opacity:1
    }

    80%{
        top: 20px;
        left: 20px;
        width: 134px;
        transform: translateX(0%) translateY(0%);
        opacity: 1;
    }

    100%{
        top: 20px;
        left: 20px;
        width: 134px;
        transform: translateX(0%) translateY(0%);
        opacity:1
    }
}

@keyframes start-logo-icon{
    0%{
        top:50%;
        left:50%;
        width:120px;
        transform: translateX(-50%) translateY(-50%) scale(0.6);
        opacity:0;
        
    }

    25%{
        top:50%;
        left:50%;
        width:120px;
        transform: translateX(-50%) translateY(-50%) scale(1);
        opacity:1;
    }

    99%{
        position: absolute;
        top:50%;
        left:50%;
        width:120px;
        transform: translateX(-165%) translateY(-50%);
        opacity: 1;
    }

    100%{
        opacity:0;
    }
}

@keyframes start-logo-text{
    0%{
        top:50%;
        left:0%;
        width:400px;
        transform: translateX(-50%) translateY(-50%);
    }

    25%{
        top:50%;
        left:0%;
        width:400px;
        transform: translateX(-50%) translateY(-50%);
    }

    99%{
        top:50%;
        left:50%;
        width:400px;
        transform: translateX(-50%) translateY(-50%);
        opacity:1
    }

    100%{
        top:50%;
        left:50%;
        width:400px;
        transform: translateX(-50%) translateY(-50%);
        opacity:0

    }
}

@keyframes start-BG-black{
    0%{
        opacity:1;
    }

    58%{
        opacity:1
    }
    65%{
        opacity:0;
    }
    100%{
        opacity:0;
    }
}

@keyframes start-presentation{
    0%{
        top:0vh;left:0;
        background-color: rgb(0, 0, 0);
        width: 100vw;
        height: 100vh;
        z-index:3;
        opacity:1;
    }

    85%{
        display: inline-block;
        opacity:1
    }
    100%{
        top:0vh;left:0;
        display: inline-block;
        background-color: rgb(0, 0, 0);
        width: 100vw;
        height: 100vh;
        z-index:3;
        opacity:0;
    }
}

@keyframes play-animation {
    0%{
        width:0%
    }

    100%{
        width:100%
    }
}

@keyframes start-opacity{
    0%{
        opacity: 0.2;
    }

    90%{
        opacity: 0.2;
    }

    100%{
        opacity: 1;
    }
}

@keyframes start-info-btn{
    0%{
        transform: translateX(-50%) scale(1.0);
        color:white
    }
    
    20%{
        transform:translateX(-50%) scale(1.05);
        color:rgb(0, 161, 0)
    }

    40%{
        transform:translateX(-50%) scale(1);
        color:rgb(0, 203, 0)
    }

    60%{
        transform:translateX(-50%) scale(1);
        color:rgb(0, 203, 0)
    }

    80%{
        transform:translateX(-50%) scale(1.05);
        color:rgb(0, 161, 0)
    }

    100%{
        transform:translateX(-50%) scale(1.0);
        color:white
    }
}

.volume.bar-1{
    animation: start-track-animation 4s 9s;
}

@keyframes start-track-animation{
    0%{
        opacity:0
    }

    10%{
        opacity:1
    }

    20%{
        opacity:0
    }

    30%{
        opacity:1
    }

    40%{
        opacity:0
    }

    50%{
        opacity:1
    }

    60%{
        opacity:0
    }

    70%{
        opacity:1
    }

    80%{
        opacity:0
    }

    90%{
        opacity:1
    }

    100%{
        opacity:0
    }
}

@keyframes play-animation-time{
    /* 20sec */
    0%{
        content:"0:00"
    }

    0.35%{
        content:"0:01"
    }

    0.7%{
        content:"0:02"
    }

    1.05%{
        content:"0:03"
    }

    1.40%{
        content:"0:04"
    }

    1.75%{
        content:"0:05"
    }

    2.1%{
        content:"0:06"
    }

    2.45%{
        content:"0:07"
    }

    2.8%{
        content:"0:08"
    }

    3.15%{
        content:"0:09"
    }

    3.5%{
        content:"0:10"
    }

    3.85%{
        content:"0:11"
    }

    4.2%{
        content:"0:12"
    }

    4.55%{
        content:"0:13"
    }

    4.9%{
        content:"0:14"
    }

    5.25%{
        content:"0:15"
    }

    5.6%{
        content:"0:16"
    }

    5.95%{
        content:"0:17"
    }

    6.3%{
        content:"0:18"
    }

    6.65%{
        content:"0:19"
    }

    7%{
        content:"0:20"
    }

     /* 20sec */
    7.35%{
        content:"0:21"
    }

    7.7%{
        content:"0:22"
    }

    8.05%{
        content:"0:23"
    }

    8.40%{
        content:"0:24"
    }

    8.75%{
        content:"0:25"
    }

    9.1%{
        content:"0:26"
    }

    9.45%{
        content:"0:27"
    }

    9.8%{
        content:"0:28"
    }

    10.15%{
        content:"0:29"
    }

    10.5%{
        content:"0:30"
    }

    10.85%{
        content:"0:31"
    }

    11.2%{
        content:"0:32"
    }

    11.55%{
        content:"0:33"
    }

    11.9%{
        content:"0:34"
    }

    12.25%{
        content:"0:35"
    }

    12.6%{
        content:"0:36"
    }

    12.95%{
        content:"0:37"
    }

    13.3%{
        content:"0:38"
    }

    13.65%{
        content:"0:39"
    }

    14%{
        content:"0:40"
    }

     /* 20sec */
 
    14.35%{
        content:"0:41"
    }

    14.7%{
        content:"0:42"
    }

    15.05%{
        content:"0:43"
    }

    15.40%{
        content:"0:44"
    }

    15.75%{
        content:"0:45"
    }

    16.1%{
        content:"0:46"
    }

    16.45%{
        content:"0:47"
    }

    16.8%{
        content:"0:48"
    }

    17.15%{
        content:"0:49"
    }

    17.5%{
        content:"0:50"
    }

    17.85%{
        content:"0:51"
    }

    18.2%{
        content:"0:52"
    }

    18.55%{
        content:"0:53"
    }

    18.9%{
        content:"0:54"
    }

    19.25%{
        content:"0:55"
    }

    19.6%{
        content:"0:56"
    }

    19.95%{
        content:"0:57"
    }

    20.3%{
        content:"0:58"
    }

    20.65%{
        content:"0:59"
    }

    21%{
        content:"1:00"
    }

     /* 20sec */
    21.35%{
        content:"1:01"
    }

    21.7%{
        content:"1:02"
    }

    22.05%{
        content:"1:03"
    }

    22.40%{
        content:"1:04"
    }

    22.75%{
        content:"1:05"
    }

    23.1%{
        content:"1:06"
    }

    23.45%{
        content:"1:07"
    }

    23.8%{
        content:"1:08"
    }

    24.15%{
        content:"1:09"
    }

    24.5%{
        content:"1:10"
    }

    24.85%{
        content:"1:11"
    }

    25.2%{
        content:"1:12"
    }

    25.55%{
        content:"1:13"
    }

    25.9%{
        content:"1:14"
    }

    26.25%{
        content:"1:15"
    }

    26.6%{
        content:"1:16"
    }

    26.95%{
        content:"1:17"
    }

    27.3%{
        content:"1:18"
    }

    27.65%{
        content:"1:19"
    }

    28%{
        content:"1:20"
    }

         /* 20sec */
    28.35%{
        content:"1:21"
    }

    28.7%{
        content:"1:22"
    }

    29.05%{
        content:"1:23"
    }

    29.40%{
        content:"1:24"
    }

    29.75%{
        content:"1:25"
    }

    30.1%{
        content:"1:26"
    }

    30.45%{
        content:"1:27"
    }

    30.8%{
        content:"1:28"
    }

    31.15%{
        content:"1:29"
    }

    31.5%{
        content:"1:30"
    }

    31.85%{
        content:"1:31"
    }

    32.2%{
        content:"1:32"
    }

    32.55%{
        content:"1:33"
    }

    32.9%{
        content:"1:34"
    }

    33.25%{
        content:"1:35"
    }

    33.6%{
        content:"1:36"
    }

    33.95%{
        content:"1:37"
    }

    34.3%{
        content:"1:38"
    }

    34.65%{
        content:"1:39"
    }

    35%{
        content:"1:40"
    }

    /* 20sec */
    35.35%{
        content:"1:41"
    }

    35.7%{
        content:"1:42"
    }

    36.05%{
        content:"1:43"
    }

    36.40%{
        content:"1:44"
    }

    36.75%{
        content:"1:45"
    }

    37.1%{
        content:"1:46"
    }

    37.45%{
        content:"1:47"
    }

    37.8%{
        content:"1:48"
    }

    38.15%{
        content:"1:49"
    }

    38.5%{
        content:"1:50"
    }

    38.85%{
        content:"1:51"
    }

    39.2%{
        content:"1:52"
    }

    39.55%{
        content:"1:53"
    }

    39.9%{
        content:"1:54"
    }

    40.25%{
        content:"1:55"
    }

    40.6%{
        content:"1:56"
    }

    40.95%{
        content:"1:57"
    }

    41.3%{
        content:"1:58"
    }

    41.65%{
        content:"1:59"
    }

    42%{
        content:"2:00"
    }
}

/*----------------------------
fine Presentation
-----------------------------*/